/*Общие стили для страницы*/
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "PT Sans", sans-serif;
}
h1,
h2,
h3,
h4,
p,
blockquote,
ul,
ol,
hr {
  width: 700px;
  margin: 0 auto;
}
img {
  width: 1024px;
  margin: 0 auto;
  display: block;
}
h1,
h2,
h3,
h4 {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: bold;
}
p,
ol,
ul,
blockquote {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 30px;
}
h1 + p {
  color: rgba(0, 0, 0, 0.4);
}
a {
  color: inherit;
}
h1 {
  margin: 50px auto;
  font-size: 38px;
  line-height: 45px;
}
h2 {
  margin-top: 40 px;
  font-size: 32px;
  line-height: 36px;
}
h3 {
  margin-top: 36px;
  font-size: 28px;
  line-height: 32px;
}
h4 {
  margin-top: 32px;
  font-size: 24px;
  line-height: 28px;
}
h5 {
  margin-top: 28px;
  font-size: 22px;
  line-height: 24px;
}
hr {
  margin: 12px auto;
  width: 1024px;
}
img + p {
  margin-top: 10px;
}
ul {
  list-style-type: square;
  padding-left: 32px;
}
ol {
  list-style-type: decimal;
  padding-left: 32px;
}
li {
  margin: 10px auto;
}
blockquote {
  font-style: italic;
  position: relative;
}
blockquote::before {
  content: "";
  width: 3px;
  height: 100%;
  position: absolute;
  background-color: #000;
  top: 0;
  left: -17px;
}
/* Стили для бокового меню */
.sidebar {
  width: 280px;
  position: fixed;
  top: 50px;
  left: 0%;
  opacity: 0.3;
  transition: all ease 0.3s;
}
.sidebar:hover {
  opacity: 1;
  transition: all ease 0.6s;
}
.sidebar ol {
  width: 100%;
  font-size: 13px;
  line-height: 100%;
  margin: 10px 0;
  list-style-type: none;
  padding-left: 12px;
}
.sidebar ol ol {
  color: rgba(0, 0, 0, 0.4);
}
.sidebar li {
  font-size: inherit;
  margin: 6px 0;
}
.sidebar a {
  font-size: inherit;
  text-decoration: none;
}
/* Стилт для верхнего меню*/
.menubar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.menubar img {
  width: 350px;
  margin: 0%;
}
.menubar a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
  transition: all ease 0.3s;
}
.menubar a:hover {
  transition: all ease 0.6;
  color: black;
}

/* стили для about.html */
#about {
  overflow-x: hidden;
}
#about::after {
  content: "";
  background-image: url("../images/1440.png");
  width: 1440px;
  height: 3120px;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  opacity: 0.2;
}
#about section {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#about section div {
  width: 48%;
}
#about h2 {
  margin: 0;
  width: 100%;
  font-weight: normal;
  font-size: 38px;
  line-height: 46px;
}
#about p {
  margin: 24px 0;
  width: 100%;
  font-size: 28px;
  line-height: 38px;
}
#about #firstSection {
  margin-top: 88px;
}
#firstSection img {
  width: 1100px;
}
#firstSection div:nth-of-type(1) {
  padding: 40px 0 0 110px;
}

#about #secondSection {
  margin-top: 96px;
}
#secondSection img {
  width: 670px;
  padding-left: 20px;
}
#secondSection div:nth-of-type(2) {
  padding: 50px 20px 0 12px;
}

#about #thirdSection {
  margin-top: 190px;
  border-bottom: 1px solid #000;
}
#thirdSection div:nth-of-type(1) {
  padding-left: 110px;
}
#thirdSection img {
  width: 1050px;
  margin: 10px 0 0 10px;
  border-left: 1px solid #000;
}
